{
  "directories": [
    {
      "directoryPath": "directory full path here",
      "expirationTime": "datetime with any PHP format like 2022-01-02 or timestamp like 1681721097",
      "ignoringFiles": [
          "some file name"
      ]
    }
  ]
}